<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <h2 v-for="item in items">{{item}}</h2>
        <!-- 在遍历的过程中可以使用下标值 -->
        <h2 v-for="(item,index) in items">{{index + '.' + item}}</h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                items: ['test1', 'test2', 'test3', 'test4']
            }
        })
    </script>
</body>
</html>